<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vw.rent.mapper.RentOrderGenerateRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.vw.rent.entity.RentOrderGenerateRecord">
    <result column="id" property="id" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
    <result column="user_id" property="userId" />
    <result column="user_tel" property="userTel" />
    <result column="user_name" property="userName" />
    <result column="dealer_name" property="dealerName" />
    <result column="finance_name" property="financeName" />
    <result column="application_id" property="applicationId" />
    </resultMap>

</mapper>
